name: publish release

on:
    release:
        types: [created]
    workflow_dispatch:

jobs:
    build-android-aar:
        runs-on: lynx-ubuntu-22.04-medium
        steps:
          - name: Python Setup
            uses: actions/setup-python@v5
            with:
                python-version: '3.13'
          - uses: actions/setup-java@v4
            with:
              distribution: 'jetbrains'
              java-version: '21'
          - name: Download Source
            uses: actions/checkout@v4.2.2
          - name: Sync Dependencies
            run: |
                ./tools/hab sync -f --target module,ci
          - name: Android Build Check
            uses: ./.github/actions/pack-android-aar
          - name: Copy AAR
            run: |
                mkdir -p out/release
                cp platform/android/build/outputs/aar/skity-native-release.aar out/release/skity-native-${{ github.event.release.tag_name }}.aar
          - name: Upload Assets
            uses: softprops/action-gh-release@v2
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                files: |
                    out/release/skity-native-${{ github.event.release.tag_name }}.aar

    build-xcframework:
        runs-on: macos-14
        steps:
          - name: Download Source
            uses: actions/checkout@v4.2.2
          - name: Sync Dependencies
            run: |
                ./tools/hab sync -f
          - name: Setup ruby
            uses: ruby/setup-ruby@v1
            with:
                ruby-version: '3.0'
                bundler-cache: true
                working-directory: platform/darwin
          - name: Generate XCFramework
            run: |
                TAG_NAME=${{ github.event.release.tag_name }}
                VERSION=${TAG_NAME#v}
                PODSPEC_URL="https://github.com/lynx-family/skity/releases/download/${TAG_NAME}/skity.framework-${TAG_NAME}.zip"
                echo "podspec url: $PODSPEC_URL"
                echo "version string: $VERSION"
                echo "VERSION=$VERSION" >> $GITHUB_ENV
                echo "PODSPEC_URL=$PODSPEC_URL" >> $GITHUB_ENV
                tools/pack_skity_framework.py $VERSION
          - name: Copy XCFramework
            run: |
                mkdir -p out/release
                cp -r out/skity.framework.zip out/release/skity.framework-${{ github.event.release.tag_name }}.zip
          - name: Generate Podspec
            run: |
                ruby -rerb -e 'puts ERB.new(File.read("platform/darwin/skity.podspec.erb")).result' > ./out/skity.podspec
          - name: Upload Assets
            uses: softprops/action-gh-release@v2
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                files: |
                    out/release/skity.framework-${{ github.event.release.tag_name }}.zip
                    out/skity.podspec
          - name: Upload Podspec to Release
            working-directory: platform/darwin
            run: |
              SKITY_PODSPEC_TOKEN=${{ secrets.REPO_SKITY_COCOAPODS_TRUNK_TOKEN }}
              COCOAPODS_TRUNK_TOKEN=$SKITY_PODSPEC_TOKEN bundle exec pod trunk push $GITHUB_WORKSPACE/out/skity.podspec --allow-warnings --verbose
