name: publish release

permissions:
  contents: write

on:
    release:
        types: [created]
    workflow_dispatch:

jobs:
    build-android-aar:
        runs-on: lynx-ubuntu-22.04-medium
        steps:
          - name: Python Setup
            uses: actions/setup-python@v5
            with:
                python-version: '3.13'
          - uses: actions/setup-java@v4
            with:
              distribution: 'jetbrains'
              java-version: '21'
          - name: Download Source
            uses: actions/checkout@v4.2.2
          - name: Sync Dependencies
            run: |
                ./tools/hab sync -f --target module,ci
          - name: Android Build Check
            uses: ./.github/actions/pack-android-aar
          - name: Build Android Release Artifact
            run: |
              TAG_NAME=${{ github.event.release.tag_name }}
              VERSION=${TAG_NAME#v}
              cd platform/android
              ./gradlew publish \
              -Pversion=${VERSION} \
              -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }} \
              -Psigning.password=${{ secrets.SIGNING_PASSWORD }} \
              -Psigning.secretKey=${{ secrets.SIGNING_SECRET_KEY }}
              ./gradlew zipArtifacts -Pversion=${VERSION} getArtifactList
              pushd build/
              artifact_list=$(<artifact-list)
              echo "artifact_list=$artifact_list" >> $GITHUB_OUTPUT;
              popd
            id: build_artifact
          - name: Publish artifact to maven
            uses: lynx-infra/maven-publish-action@8f547cf037360752cc9f195d04c2d8f327fee434
            with:
              portal_api_token: ${{ secrets.PORTAL_API_TOKEN }}
              artifact_path_list: ${{ steps.build_artifact.outputs.artifact_list }}

    build-xcframework:
        runs-on: macos-14
        steps:
          - name: Download Source
            uses: actions/checkout@v4.2.2
          - name: Sync Dependencies
            run: |
                ./tools/hab sync -f
          - name: Setup ruby
            uses: ruby/setup-ruby@v1
            with:
                ruby-version: '3.0'
                bundler-cache: true
                working-directory: platform/darwin
          - name: Generate XCFramework
            run: |
                TAG_NAME=${{ github.event.release.tag_name }}
                VERSION=${TAG_NAME#v}
                PODSPEC_URL="https://github.com/lynx-family/skity/releases/download/${TAG_NAME}/skity.framework-${TAG_NAME}.zip"
                echo "podspec url: $PODSPEC_URL"
                echo "version string: $VERSION"
                echo "VERSION=$VERSION" >> $GITHUB_ENV
                echo "PODSPEC_URL=$PODSPEC_URL" >> $GITHUB_ENV
                tools/pack_skity_framework.py $VERSION
          - name: Copy XCFramework
            run: |
                mkdir -p out/release
                cp -r out/skity.framework.zip out/release/skity.framework-${{ github.event.release.tag_name }}.zip
          - name: Generate Podspec
            run: |
                ruby -rerb -e 'puts ERB.new(File.read("platform/darwin/skity.podspec.erb")).result' > ./out/skity.podspec
          - name: Upload Assets
            uses: softprops/action-gh-release@v2
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                files: |
                    out/release/skity.framework-${{ github.event.release.tag_name }}.zip
                    out/skity.podspec
          - name: Upload Podspec to Release
            working-directory: platform/darwin
            run: |
              SKITY_PODSPEC_TOKEN=${{ secrets.REPO_SKITY_COCOAPODS_TRUNK_TOKEN }}
              COCOAPODS_TRUNK_TOKEN=$SKITY_PODSPEC_TOKEN bundle exec pod trunk push $GITHUB_WORKSPACE/out/skity.podspec --allow-warnings --verbose
